[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/flecs"]
	path = vendor/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "vendor/webgpu"]
	path = vendor/webgpu
	url = https://github.com/eliemichel/WebGPU-distribution.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/glfw3webgpu"]
	path = vendor/glfw3webgpu
	url = https://github.com/eliemichel/glfw3webgpu.git
